<!doctype html>
<html>

<!--
Dashboard Page
This is the landing page after the login is successful.
 It welcomes the user and provides navigation links to other parts of the app
 such as viewing clients (CRUD), analytics (Has the chart), and logging out.
-->

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Welcome, Adil Khan!</h1>

    <!-- Flash messages (optional) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
        {% for category, message in messages %}
          <li><strong>{{ category }}:</strong> {{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <p>You are now logged in.</p>
<!--Here is the MAIN NAVIGATION, which has dashboard, clients CRUD, analytics and logout-->
    <ul>
    <li><a href="{{ url_for('dashboard') }}">Dashboard (this page)</a></li>
    <li><a href="{{ url_for('list_clients') }}">View Clients</a></li>
    <li><a href="{{ url_for('analytics') }}">Analytics / Revenue Chart</a></li>
    <li><a href="{{ url_for('logout') }}">Log out</a></li>
    </ul>
</body>
</html>
